<div class="profile-container">
  <div class="profile-header">
    <div class="profile-header__user-name">{{profileName}}</div>
    <div class="profile-header__btn-container">
      <button *ngIf="profileId == userId" class="btn btn-outline-dark" routerLink="timeline">Timeline</button>
      <button *ngIf="profileId == userId" class="btn btn-outline-dark" routerLink="friends">Friends</button>
      <button *ngIf="profileId == userId" class="btn btn-outline-dark" routerLink="edit">Edit profile</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>