.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    &__signin-btn {
        margin-top: 15px;
    }
    &__error {
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
        color: red;
    }
}

.auth-error {
    font-size: 20px;
    margin-top: 5px;
    color: red;
    float: left;
}