<body class="text-center">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <div class="form-signin__input-fields">
      <input type="email" class="form-control" placeholder="Email" autofocus [(ngModel)]="email" name="email">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
      <div class="form-signin__error-list" *ngIf="validationErrors.length>0">
        <p class="form-signin__error" *ngFor="let error of validationErrors">*{{ error }}</p>
      </div>
    </div>
    <button class="form-signin__signin-btn btn btn-lg btn-primary btn-block" type="submit" (click)="signIn()">Sign in</button>
    <p class="auth-error" *ngIf="authError">*{{authError.text}}</p>
  </form>
</body>