<div class="privacy-policy">
  <h2 class="privacy-policy__title text-center">Privacy Policy</h2>
  <div>We comply with the General Data Protection Regulation (EU) 2016/679 to provide protection for your personal data.
    We only collect and use your data with your permission. In order to create an account at our site, you must read and
    agree to this Privacy Policy.</div>
  <h5 class="privacy-policy__heading">Information we collect</h5>
  <ul>
    <li>
      Basic information: We collect your basic information when you create a new account at our site which includes:
      <ul style="list-style-type:circle">
        <li>Name</li>
        <li>Gender</li>
        <li>Birthday</li>
        <li>Email</li>
      </ul>
    </li>
    <li>
      Information that you provide when using our site:
      <ul style="list-style-type:circle">
        <li>The status updates you posted.</li>
        <li>Your comments on your and other posts.</li>
      </ul>
    </li>
    <li>
      Information that others provide about you:
      <ul style="list-style-type:circle">
        <li>Comments of others on your posts.</li>
      </ul>
    </li>
  </ul>
  <h5 class="privacy-policy__heading">Purposes for collecting</h5>
  <ul>
    <li>Provide social network service: We collect and use your information to provide a social network where you can share
      information with others.</li>
    <li>Communicate with you: We use your contact information to notify you about our products, changes in terms and policies,
      and legal matters regarding your information.</li>
  </ul>
  <h5 class="privacy-policy__heading">Sharing of your information</h5>
  <ul>
    <li>Only you can edit your basic information.</li>
    <li>Only you can create, edit and delete posts in your Timeline.</li>
    <li>Your name and gender are visible with everyone using our site.</li>
    <li>Your list of friends is only visible to you.</li>
    <li>
      You can choose to share your Birthday and Email separately by one of three ways:
      <ul style="list-style-type:circle">
        <li>Public: are visible to everyone using our site.</li>
        <li>Friends: are visible to anybody who is a friend of you.</li>
        <li>Only me: are visible to only you.</li>
      </ul>
    </li>
    <li>
      You can choose to share your posts separately by one of three ways:
      <ul style="list-style-type:circle">
        <li>Public: are visible to everyone using our site.</li>
        <li>Friends: are visible to anybody who is a friend of you.</li>
        <li>Only me: are visible to only you.</li>
      </ul>
    </li>
    <li>Your comments on a post are visible to anybody who can read that post.</li>
    <li>
      We may share your information with regulators, law enforcement and others:
      <ul style="list-style-type:circle">
        <li>When there is a legal request according to the law and in complying with the General Data Protection Regulation
          (EU) 2016/679.</li>
        <li>To prevent violations of our Privacy Policy.</li>
        <li>To prevent illegal activities.</li>
        <li>To prevent death or physical harm to a person or a group of people.</li>
      </ul>
    </li>
  </ul>
  <h5 class="privacy-policy__heading">Your rights</h5>
  <ul>
    <li>Right to access:
      <ul style="list-style-type:circle">
        <li>You can access your basic information and your posts by going to your profile anytime.</li>
        <li>You can access your comments on your posts anytime.</li>
        <li>You can access your comments on others posts when the posts are visible to you.</li>
      </ul>
    </li>
    <li>Right to modify:
      <ul style="list-style-type:circle">
        <li>You can edit your basic information, your posts and your comments on your posts anytime.</li>
        <li>You can edit your comments on others posts when the posts are visible to you.</li>
        <li>Only you can edit your information.</li>
      </ul>
    </li>
    <li>Right to erasure:
      <ul style="list-style-type:circle">
        <li>We only keep your data until it’s no longer necessary for us to provide our social network service.</li>
        <li>You can delete your posts and any comments on your posts (including comments of others) anytime.</li>
        <li>You can delete your comments on others posts when the posts are visible to you.</li>
        <li>You can delete your account anytime. After you delete your account, every information related to your account
          will be deleted includes your basic information, friendship, posts, and your comments (both visible and not visible
          to you).
        </li>
      </ul>
    </li>
    <li>Right to lodge a complaint: If you feel that we failed to protect your privacy in any way, you have the right to
      lodge a complaint with a data protection authority in your area. For more information about this, please visit
      <a target="_blank" href="https://ec.europa.eu/info/about-european-commission/organisational-structure/locations_en">European
        Commisson Locations
      </a>
      .</li>
  </ul>
  <h5 class="privacy-policy__heading">Our rights</h5>
  <ul>We may terminate your account, erase your data and ban you from using our services:
    <li>On violations of our Privacy Policy.</li>
    <li>On violations of the laws.</li>
    <li>In these cases, we will send a notice to your email 1 month prior to the termination which includes the reason for
      termination, so you can communicate with us to clarify the situation.</li>
  </ul>
  <h5 class="privacy-policy__heading">Contact us</h5>
  <p>If you have any questions about our Privacy Policy, please send an email to us at cs2014_lam.nt@student.vgu.edu.vn .</p>
</div>