.settings {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: 10px 25%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    &__title {
        position: flex-start;
        font-size: 25px;
        font-weight: 400;
        margin-left: 20px;
        margin-top: 10px;
    }
    &__success-msg {
        color: red;
        margin-left: 10%;
    }
    &__change-password-btn {
        width: 150px;
        margin-top: 30px;
        margin-left: 10%;
    }
    &__change-password-container {
        display: flex;
        flex-direction: column;
        margin: 30px 50% 0 10%;
        border: 1px solid black;
        .form-container {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            .input-container {
                display: flex;
                width: 320px;
                justify-content: space-between;
                margin: 5px 0;
            }
            .error-msg {
                color: red;
                font-size: 14px;
            }
        }
        .btn-container {
            align-self: flex-end;
            margin-right: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            .btn {
                margin-left: 5px;
            }
        }
    }
    &__delete-account-btn {
        width: 150px;
        margin-top: 40px;
        margin-left: 10%;
    }
    &__delete-account-container {
        display: flex;
        flex-direction: column;
        margin: 40px 10% 0 10%;
        border: 1px solid black;
        .warning {
            display: flex;
            flex-direction: column;
            margin: 10px 10px;
        }
        .btn-container {
            align-self: center;
            margin-top: 5px;
            margin-bottom: 15px;
            .btn {
                width: 70px;
                margin-left: 5px;
            }
        }
    }
}

.title {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 10px;
}