.app {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightcyan;
}

app-header {
    display: flex;
    background-color: black;
    width: 100%;
    height: 90px;
}

.body {
    flex-grow: 1;
}