.app-alert {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 1;
    font-size: 15px;
    height: 30px;
    &__btn {
        float: initial!important;
        top: initial !important;
        right: initial !important;
        position: relative !important;
        background: 0 0;
        border: 0;
        color: inherit;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        font-weight: 900;
    }
    &__btn-icon {
        display: block;
    }
    &__btn-close-icon {
        display: block;
        margin-bottom: 6px;
    }
    &__content {
        flex-grow: 1;
        overflow: hidden;
        padding-left: 10px;
        text-overflow: ellipsis;
        word-break: break-word;
        >* {
            max-width: 100%;
        }
    }
}