<div class="timeline">
  <div class="timeline__basic-info">
    <div class="title">Basic Info</div>
    <table class="info-table">
      <tr *ngIf="userInfo.gender">
        <td class="info-table__title">Gender</td>
        <td>{{userInfo.gender}}</td>
      </tr>
      <tr *ngIf="userInfo.birthday">
        <td class="info-table__title">Birthday</td>
        <td>{{userInfo.birthday | date: 'MMMM d, yyyy' }}</td>
      </tr>
      <tr *ngIf="userInfo.email">
        <td class="info-table__title">Email</td>
        <td>{{userInfo.email}}</td>
      </tr>
    </table>
  </div>
  <app-post-list *ngIf="userInfo.id != null" [isHome]="false" [userId]="userInfo.id"></app-post-list>
</div>